/* Denna fil skall innehålla din CSS kod */
header {
    background-color: #F34F28;
    height: 100px;
    width: 100%;
    grid-area: hd;
    display: flex;
    justify-content: space-around;
}

#wrapper {
    display: grid;
    background-color: #F7F6F2;
    height: 1800px;
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-areas:
    'hd hd hd' 
    's6 s6 s6'
    'mn mn mn';
}

body {
    padding: 0;
    margin: 0;
    height: 1800px;
}

main {
    display: flex;
    grid-area: mn;
    width: 100%;
    padding: 0;
    margin: 0;
}

#sec1 {
    grid-area: sec1;
    height: 500px;
    width: 33%;
    background-color: #F1EEE9;
    background-size: cover;
    border: solid 7px;
    border-color: #F7F6F2;
    background-image: url(../img/coffee.jpg)
}

#sec2 {
    grid-area: sec2;
    height: 500px;
    width: 33%;
    background-color: #F1EEE9;
    border: solid 7px;
    border-color: #F7F6F2;
    background-image: url(../img/cafe.jpg);
    background-size: cover ;
}

#sec3 {
    grid-area: sec3;
    height: 500px;
    width: 33%;
    background-color: #F1EEE9;
    border: solid 7px;
    border-color: #F7F6F2;
    background-image: url(../img/teabag.jpg);
    background-size: cover;
}

#sec4 {
    height: 500px;
    width: 400px;
    margin: auto;
    background-image: url(../img/socials2.jpg);
    background-size: cover;
    border-radius: 100px;
}

#sec5 {
    height: 500px;
    width: 400px;
    background-image: url(../img/mail2.jpg);
    background-size: cover;
    margin: auto;
    border-radius: 100px;
}

#sec6 {
    width: 100%;
    grid-area: s6;
    height: 500px;
    margin: auto;
    background-image: url(../img/bannner_webb.jpg);
    background-size: contain;
}

p {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F34F28;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    margin: auto;
}

.hover{
    transition-duration: 0.5s;
}

.hover:hover{
    transform: scale(1.1);
    color: #BECEAB;
}

#hd {
    color: #F1EEE9;
    font-size: 2rem;
}

/* #wrapperM {
    width: 100%;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-areas: 'hd'
    'main'
    'ft';
}

/* header {
    grid-template-columns: hd;
    background-color: rgb(218, 224, 233);

} */

/* body {
    padding: 0;
    margin: 0;
}

header h1 {
    text-align: center;
    color: rgb(29, 29, 80);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

nav {
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 1rem 0.5rem 1rem 0.5rem ;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  */


footer {
    height: 10px;
}

@media screen and (max-width:600px) {
    body {
        width: 100%;
        background-color: rgb(55, 159, 224);
    }

    header {
        position: relative;
        width: 100vw;
    }

    #wrapper {
        width: 100%;
    }

    main {
        width: 100vw;
    }

    #hamburger {
        height: 1.5rem;
        width: 2.2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;

    }

    #hamburger div {
        border: 1px solid black;
        margin: 0.3rem;
    }

    #sec4 {
        width: 50vw;
    }

    #sec5 {
        width: 50vw;
    }

    #sec6 {
        width: 100vw;
        position:static;
        background-size: cover;
    }

    nav {
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        transition-duration: 2s;
    }

    nav.active {
        max-height: 1000px;
        transition-duration: 2s;
    }

    nav ul {
        display: block;
        padding: 0;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li:hover {
        background-color: rgb(27, 43, 90);
    }
}