header {
    background-color: #F34F28;
    height: 100px;
    width: 100%;
    grid-area: hd;
    display: flex;
    justify-content: space-around;
}

#wrapper {
    display: grid;
    grid-template-areas: 
    's6 s6'
    's2 s3'
    's4 s5';
    background-color: #F7F6F2;
    height: 752px;
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F34F28;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    margin: auto;
}

.hover{
    transition-duration: 0.5s;
}

.hover:hover{
    transform: scale(1.1);
    color: #BECEAB;
}

#hd {
    color: #F1EEE9;
    font-size: 2rem;
}

body {
    padding: 0;
    margin: 0;
    height: 1100px;
}

#sec1 {
    width: 100%;
    height: 200px;
    background-color: rgb(186, 207, 166);
    margin: 0;
    padding: 0;
}

#sec2 {
    display: grid;
    grid-area: s2;
    height: 700px;
    width: 700px;
    background-image: url(../img/logo.jpg);
    background-size: contain;
}

#sec3 {
    display: grid;
    display: flex;
    grid-area: s3;
    height: 400px;
    width: 700px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    justify-content: center;
    color: #F34F28;
}


#sec6 {
    height: 50px;
    width: 100%;
    grid-area: s6;
}

ul {
    list-style-type: none;
    padding: 10px;
}

@media screen and (max-width:600px) {
    body {
        width: 100vw;
        margin: 0;
        padding: 0;
        position: relative;
        height: 100vh;
    }

    #wrapper {
        position: relative;
        margin: 0;
        height: 100vh;
        padding: 0;
        width: 100vw;
        grid-template-areas: 
        'hd hd hd'
        's1 s1 s1'
        's2 s2 s2'
        's3 s3 s3'
        's4 s4 s4';
    }

    header {
        position: relative;
        width: 100vw;
    }

    main {
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    #sec2 {
        width: 100vw;
        height: 350px;
    }

    #sec3 {
        width: 100vw;
    }

    #sec4 {
        width: 100%;
    }
}