header {
    background-color: #F34F28;
    height: 100px;
    width: 100%;
    grid-area: hd;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

p {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F34F28;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    margin: auto;
}

main {
    margin: 0;
}

.hover{
    transition-duration: 0.5s;
}

.hover:hover{
    transform: scale(1.1);
    color: #BECEAB;
}

ul {
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

#hd {
    color: #F1EEE9;
    font-size: 2rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#wrapper {
    display: grid;
    grid-template-areas: 
    'hd hd hd hd'
    's0 s0 s1 s2'
    's3 s4 s5 s6';
    margin: 0;
    padding: 0;
}

#sec0 {
    width: 50vw;
    height: 500px;
    background-color: rgb(186, 207, 166);
    grid-area: s0;
    display: grid;
}

#sec1 {
    height: 500px;
    width: 25vw;
    background-color: #EAD7E5;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s1;
    background-image: url(../img/GRÖNTTE.jpg);
    background-size: contain;
}

#sec2 {
    height: 500px;
    width: 25vw;
    background-color: #EAD7E5;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s2;
    background-image: url(../img/apelsinte.jpg);
    background-size: contain;
}

#sec3 {
    height: 500px;
    width: 25vw;
    background-color: #EAD7E5;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s3;
    background-image: url(../img/mintte.jpg);
    background-size: contain;
}

#sec4 {
    height: 500px;
    width: 25vw;
    background-color: #EAD7E5;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s4;
    background-image: url(../img/kopp.jpg);
    background-size: contain;
}

#sec5 {
    height: 500px;
    width: 25vw;
    background-color: #EAD7E5;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s5;
    background-image: url(../img/påse.jpg);
    background-size: contain;
}

#sec6 {
    height: 500px;
    width: 25vw;
    background-color: #EAD7E5;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s6;
    background-image: url(../img/keps.jpg);
    background-size: contain;
}

nav {
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition-duration: 1s;
}

nav.active {
    max-height: 1000px;
    transition-duration: 3s;
}

nav ul {
    display: block;
    padding: 0;
}

nav ul li {
    text-align: center;
}

nav ul li:hover {
    background-color: rgb(255, 255, 255);
}

#hamburger {
    height: 1.5rem;
    width: 2.2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

}

#hamburger div {
    border: 1px solid black;
    margin: 0.3rem;
}

#hd {
    color: #F1EEE9;
    font-size: 2rem;
}

@media screen and (max-width:600px) {
    
    #sec0 {
        width: 100vw;
    }

    #sec1 {
        width: 50vw;
        height: 300px;
    }

    #sec2 {
        width: 50vw;
        height: 300px;
    }

    #sec3 {
        width: 50vw;
        height: 300px;
    }

    #sec4 {
        width: 50vw;
        height: 300px;
    }

    #sec5 {
        width: 50vw;
        height: 300px;
    }

    #sec6 {
        width: 50vw;
        height: 300px;
    }

    #hamburger {
        height: 1.5rem;
        width: 2.2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;

    }

    #hamburger div {
        border: 1px solid black;
        margin: 0.3rem;
    }

    #wrapper {
        grid-template-areas:
        'hd hd'
        's0 s0'
        's1 s2'
        's3 s4'
        's5 s6';
    }

    nav {
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        transition-duration: 1s;
    }

    nav.active {
        max-height: 1000px;
        transition-duration: 3s;
    }

    nav ul {
        display: block;
        padding: 0;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li:hover {
        background-color: rgb(255, 255, 255);
    }
}