body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

#wrapper {
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    's0 s0 s0'
    's1 s2 s3'
    's4 s5 s6'
    's7 s8 s9'
    's10 s11 s12';
}

header {
    background-color: #F34F28;
    height: 100px;
    width: 100%;
    grid-area: hd;
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F34F28;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    margin: auto;
}

.hover{
    transition-duration: 0.5s;
}

.hover:hover{
    transform: scale(1.1);
    color: #BECEAB;
}

#hd {
    color: #F1EEE9;
    font-size: 2rem;
}

#sec0 {
    width: 100%;
    height: 300px;
    background-color: rgb(186, 207, 166);
    grid-area: s0;
    display: grid;
}

ul {
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

#sec1 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s1;
}

#sec2 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s2;
}

#sec3 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s3;
}

#sec4 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s4;
}

#sec5 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s5;
}

#sec6 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s6;
}

#sec7 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s7;
}

#sec8 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s8;
}

#sec9 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s9;
}

#sec10 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s10;
}

#sec11 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s11;
}

#sec12 {
    height: 500px;
    width: 350px;
    background-color: #F34F28;
    padding: 5px;
    display: grid;
    border: solid rgb(255, 255, 255) 5px;
    grid-area: s12;
}



